/*----------------------------------------------------------------------------------------------------------------------
/// Overriding main.css styles /////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------------------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  /*background: #ccc;
  color: #000; */
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background: #FF0000;
  color: white;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  /* color: white; */
}

.header .navbar {
  background: #FF0000;
  border: 0;
}

.navbar > .container .navbar-brand {
  color: white;
  font-family: 'Sonsie One', 'cursive';
  font-size: 2.5rem;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #ac2925;
  color: white;
}

.navbar-default .navbar-nav > .active {
  background: #ac2925;
}

.navbar-nav > li:hover {
  background: #ac2925;
}

.navbar-default .navbar-nav > li > a:focus,  .navbar-collapse .navbar-nav ul > li > a:hover {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 0;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  /* color: #777;
  border-top: 1px solid #e5e5e5; */
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  /* border-bottom: 1px solid #e5e5e5; */
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*----------------------------------------------------------------------------------------------------------------------
/// registration.html styles ///////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------------------------------------------------*/

div .form-box {
  padding: 20px;
  outline: 2px solid #ddd;
  outline-offset: -10px;
  outline-radius: 6px 6px 0 0;
  -moz-outline-radius: 6px 6px 0 0;
  -webkit-outline-radius: 6px 6px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
