<div class="container">
  <h1>Phylogenetic Trees</h1>
  <div class="container-fluid">
    <div class="btn-group btn-group-justified">
      <a href="#/FileSelection" class="btn btn-default">
        <img src="images/tree.png" style="padding-top: 20px; width: 70%; height: 70%">
        <h1>Stored files</h1>
      </a>
      <a href="#/FileUpload" class="btn btn-default">
        <img src="images/sprout.png" style="padding-top: 20px; width: 70%; height: 70%">
        <h1>New files</h1>
      </a>
    </div>
  </div>
</div>
